.new {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 36px 136px;
}

.rightBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 100%;
    background-color: var(--secBg);
    padding: 12px 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rEles {
    width: 100%;
}

.rEle {
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    transition-duration: 200ms;

    overflow-x: hidden;
}

.rEle:hover {
    background-color: var(--ter);
} 

.rEle img {
    width: 16px;
    height: 16px;
}

.rEle p {
    font-family: 'Product Sans', 'Raleway',sans-serif;
    font-weight: 900;
}

.editorWrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 4px;
    background: linear-gradient(
        125deg, 
      rgb(0, 194, 194),
      rgb(0, 30, 50)
      );
}

.editorPadding {
    background-color: #141418;
    padding: 12px 24px;
    border-radius: 6px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topBar {
    width: 100%;
    height: 28px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topButtons {
    width: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBarButton {
    width: 11px;
    height: 11px;
    border-radius: 14px;
    background-color: gray;
}

.topBuffer {
    width: 44px;
}

.filename {
    font-family: 'Product Sans', 'Raleway',sans-serif;
    background: none;
    border: none;
    outline: none;
    color: var(--color);
    text-align: center;
}

.editor {
    width: 912px;
    height: auto;
    background-color: #141418;
    border-radius: 6px;
    padding: 12px;
}