.coloredBtn, .outlinedBtn {
    cursor: pointer;
    outline: none;
    transition-duration: 300ms;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    background-color: var(--accent);
}

.outlinedBtn {
    border: 1px solid var(--accent);
    background-color: var(--bg);
    color: var(--accent);
}

.outlinedBtn:hover {
    box-shadow: 0px 0px 8px 0px var(--accentShadow);
    background-color: var(--accent);
    color: var(--bg);
}

.smallScreen {
    display: none;
}

@media screen and (max-width: 980px) {
   .outlinedBtn {
       display: none;
   }
   .smallScreen {
       width: 100%;
       display: block;
       color: var(--accent);
       padding: 12px 6px;
   }
}